---
import Layout from "../../../layouts/Page.astro";
---

<!doctype html>
<Layout
  title="ThreeJS Journey"
  description="I'm learning ThreeJS, and with it, webgl. This is an index of little projects I've done to learn"
>
  <p>
    I'm learning ThreeJS, and with it, webgl. This is an index of little
    projects I've done to learn. I'll keep adding to this as I go along, but
    here's what I have so far:
  </p>
  <ul class="simple-list">
    <li>
      <a href="three-js-journey/text-with-floating-words">
        Text With Floating Words
      </a>
    </li>
  </ul>
</Layout>
