---
import { THREE_JS_JOURNEY_LINKS_ARRAY } from "../../../consts";
import Layout from "../../../layouts/Page.astro";
---

<!doctype html>
<Layout
  title="Three.js Journey - WebGL Projects by Isiah Fletcher"
  description="Explore Three.js and WebGL experiments by software engineer Isiah Fletcher. Interactive 3D web graphics, creative coding projects, and frontend development showcases using JavaScript and Three.js framework."
>
  <p>
    I'm learning ThreeJS, and with it, webgl. This is an index of little
    projects I've done to learn. I'll keep adding to this as I go along, but
    here's what I have so far:
  </p>
  <ul class="simple-list">
    {
      THREE_JS_JOURNEY_LINKS_ARRAY.map((project) => {
        return (
          <li>
            <a href={project.href}>{project.title}</a>
          </li>
        );
      })
    }
  </ul>
</Layout>
