---
import Layout from "../../layouts/Page.astro";
import AterrimaBandcampIframe from "../../components/AterrimaBandcampIframe.astro";
---

<Layout
  title="Aterrima - Experimental Metal Band | Drummer Isiah Fletcher"
  description="Aterrima is an experimental metal band featuring drummer Isiah Fletcher. Combining progressive metal, black metal influences, and environmental storytelling from Boise, Idaho. Listen to our latest releases on Bandcamp."
  heroImage="/aterrima-tour.jpg"
>
  <p>
    Aterrima is an experimental metal band formed in September 2017. Combining a
    myriad of musical influences, and utilizing storytelling, Aterrima seeks to
    provide an honest commentary on Humanity and it's relationship to the
    natural world.
  </p>

  <AterrimaBandcampIframe />
  <p>
    The word, Aterrima (pronounced A-terre-eh-mah), references the darkest,
    coldest hue of black imaginable, with which unparalleled affliction, sorrow,
    and pain is frequently associated. Our world, our way of life, cannot endure
    our current pace. But it is our goal that our work as Earth’s stewards will
    reinvoke Nature’s reign: Destabilize humanity's anthropocentric past to
    ensure a universally connected future.
  </p>

  <p>
    We believe that a new balance can be achieved, but that it, like the art of
    playing music itself, requires dynamic vigilance and effortless change. The
    themes woven into Aterrima’s music are largely centered around the imbalance
    between humankind and our natural world. Drawing from Metal’s darkness and
    complexity, Aterrima’s eclectic, experimental approach to music incorporates
    near-endless influence and exploration to achieve that balance. From Boise,
    Idaho, Aterrima formed in August, 2017. The band is backed by over a decade
    of music performance, study and composition.
  </p>
</Layout>
