---
import WealdAndWoeBandcampIframe from "../../components/WealdAndWoeBandcampIframe.astro";
import Layout from "../../layouts/Page.astro";
---

<Layout
  title="Weald & Woe - Castle Metal Band | Drummer Isiah Fletcher"
  description="Weald & Woe is a Castle Metal band signed to Fiadh Productions, featuring drummer Isiah Fletcher. Medieval-inspired black metal from the Pacific Northwest. Stream Warriors of the Western Kingdoms on Bandcamp."
  heroImage="/warriors-of-the-western-kingdoms.jpeg"
>
  <p>
    Weald & Woe is a Castle Metal band sighend to Fiadh Productions. We combine
    the majesty of the medieval era with the ferocity of classic black metal,
    evoking stories of the past to provide a contemporary soundtrack for those
    undertaking the quest to forge their own kingdom. Swords not optional.
  </p>

  <WealdAndWoeBandcampIframe />
</Layout>
