---
import { BAND_LINKS } from "../consts";
import Layout from "../layouts/Page.astro";
---

<!doctype html>
<Layout
  title="I'm Isiah Fletcher"
  description="Isiah Fletcher is a musician and software engineer in Boise, Idaho."
>
  <p>
    <span>A drummer.</span> A lyricist. The co-founder of <a
      href={BAND_LINKS.aterrima.href}>Aterrima</a
    >. Timekeeper for <a href={BAND_LINKS.wealdAndWoe.href}>Weald & Woe</a>. An
    amateur audio engineer. A poet. <span>A software developer.</span> A gamer. A
    hiker. A bicyclist. A reader. A learner. A graduate of the University of Idaho.
    A graduate of the Coding Dojo. Somewhere-between-a-taoist-and-buddhist.
  </p>
</Layout>
