---
import { SOCIAL_LINKS } from "../consts";
import Layout from "../layouts/Page.astro";
---

<!doctype html>
<Layout
  title="I'm Isiah Fletcher"
  description="Isiah Fletcher is a musician and software engineer in Boise, Idaho."
  heroImage="/aterrima-tour.jpg"
>
  <p>
    <span>A drummer.</span> A lyricist. The co-founder of <a
      href="#atterima-heading">Aterrima</a
    >. Timekeeper for <a href="#wealdandwoe-heading">Weald & Woe</a>. An amateur
    audio engineer. A poet. A software developer. A gamer. A hiker. A bicyclist.
    A reader. A learner. A graduate of the University of Idaho. A graduate of
    the Coding Dojo. Somewhere-between-a-taoist-and-buddhist.
  </p>

  <h3>Drum Lessons</h3>
  <hr />
  <p>
    Since I was 12, I've dedicated my life to drumming, evolving from a
    passionate beginner to a professional touring musician. In 2021, I began
    offering drum lessons to share my expertise and love for music. My focus is
    on technique, posture, and musical expression, aiming to build a solid
    foundation for students of all levels.
  </p>
  <h4>Lesson Overview</h4>
  <ul>
    <li>
      <b>Technique Mastery:</b> I teach everything from fundamental grip and stroke
      techniques to advanced rhythmic patterns, ensuring a comprehensive skill set
      for progression.
    </li>
    <li>
      <b>Posture Perfection:</b> Emphasizing the importance of proper posture to
      prevent injuries and promote efficient playing.
    </li>
    <li>
      <b>Expressive Musicality:</b> Encouraging students to explore their own style
      and expression through music, enhancing their personal connection to their
      playing. Studio and Scheduling
    </li>
  </ul>

  <p>
    My studio, located in Boise, and is outfitted for lessons with a kit and
    practice pads. I offer flexible scheduling to fit your lifestyle.
  </p>

  <h4>Booking</h4>
  <p>
    If you are interested in a lesson, please DM me on
    <a href={SOCIAL_LINKS.instagram} target="_blank">Instagram</a>
    or on
    <a href={SOCIAL_LINKS.facebook} target="_blank">Facebook</a>. I'm currently
    accepting students of all ages and skill levels.
  </p>
  <h5>Here are my hours:</h5>
  <ul>
    <li><b>Monday</b>: 12 pm - 5 pm</li>
    <li><b>Tuesday</b>: 12 pm - 5 pm</li>
    <li><b>Wednesday</b>: 12 pm - 5 pm</li>
    <li><b>Thursday</b>: 12 pm - 5 pm</li>
    <li><b>Friday</b>: 12 pm - 7 pm</li>
    <li><b>Saturday</b>: 10 am - 7 pm</li>
    <li><b>Sunday</b>: <b>N/A</b></li>
  </ul>

  <h4>Why Me?</h4>
  <ul>
    <li>
      <b>Experienced Instructor:</b> Years of performance and teaching experience
      provide unique insights and techniques.
    </li>
    <li>
      <b>Personalized Learning:</b> Lessons tailored to your individual needs, focusing
      on your strengths and goals. Interested in starting your drumming journey or
      advancing your skills? Contact me to schedule your first lesson and take the
      next step in your musical development.
    </li>
  </ul>

  <h3>My Music</h3>
  <hr />
  <img width={1020} height={510} src="/isiah-drumming.jpg" alt="" />
  <p>
    I have been playing drums for 18 years and have been in a few bands. Both
    bands are based in Boise, Idaho, and regularly tour the Pacific Nortwest and
    Southwest.
  </p>

  <h4 id="atterima-heading">Aterrima</h4>
  <p>
    Aterrima is an experimental metal band formed in September 2017. Combining a
    myriad of musical influences, and utilizing storytelling, Aterrima seeks to
    provide an honest commentary on Humanity and it's relationship to the
    natural world.
    <a target="__blank" href="https://aterrima.bandcamp.com/music"
      >Listen to our music here</a
    >.
  </p>
  <p>
    The word, Aterrima (pronounced A-terre-eh-mah), references the darkest,
    coldest hue of black imaginable, with which unparalleled affliction, sorrow,
    and pain is frequently associated. Our world, our way of life, cannot endure
    our current pace. But it is our goal that our work as Earth’s stewards will
    reinvoke Nature’s reign: Destabilize humanity's anthropocentric past to
    ensure a universally connected future.
  </p>

  <p>
    We believe that a new balance can be achieved, but that it, like the art of
    playing music itself, requires dynamic vigilance and effortless change. The
    themes woven into Aterrima’s music are largely centered around the imbalance
    between humankind and our natural world. Drawing from Metal’s darkness and
    complexity, Aterrima’s eclectic, experimental approach to music incorporates
    near-endless influence and exploration to achieve that balance. From Boise,
    Idaho, Aterrima formed in August, 2017. The band is backed by over a decade
    of music performance, study and composition.
  </p>
  <h4 id="wealdandwoe-heading">Weald & Woe</h4>
  <p>
    Weald & Woe is a Castle Metal band sighend to Fiadh Productions. We combine
    the majesty of the medieval era with the ferocity of classic black metal,
    evoking stories of the past to provide a contemporary soundtrack for those
    undertaking the quest to forge their own kingdom. Swords not optional.
    <a target="__blank" href="https://wealdandwoe.bandcamp.com/music"
      >Listen to our music here</a
    >.
  </p>
</Layout>
