---
import Layout from "../layouts/Page.astro";
---

<Layout>
  <div>
    <h1>Work Experience</h1>
    <p>
      I am a dedicated software engineer with experience in commercial
      application development. Eager to build innovative and cutting-edge
      business solutions for clients. Able to effectively articulate technical
      challenges and solutions. Adept at handling databases, analytics,
      extensive data systems, and business intelligence products. Strong
      communication skills. Seeking a position to collaborate with experienced
      cross-disciplinary Amazonians to conceive, design, and bring innovative
      products and services to market.
    </p>
  </div>
  <div>
    <h2>CORE SKILLS AND COMPETENCIES</h2>
    <ul>
      <li>Leadership Skills</li>
      <li>Programming and Coding</li>
      <li>Troubleshooting</li>
      <li>Project Lifecycle Management</li>
      <li>Technical Skills</li>
      <li>Requirements Analysis</li>
      <li>Documentation Management</li>
      <li>Interpersonal Skills</li>
      <li>Client Relationships</li>
      <li>Scrum /Agile Methodology</li>
      <li>Analytical Skills</li>
      <li>Communication Skills</li>
      <li>Critical Thinker</li>
    </ul>
  </div>
  <div>
    <h2>Technologies</h2>
    <p>Programming Language: JavaScript, Typescript, Rust</p>
    <p>Back-end Framework: Node.js, Actix-web</p>
    <p>Frontend Technology: HTML, CSS, React, Gatsby, Next</p>
    <p>
      Database / Middleware / Tool / Others: MySQL, MongoDB, Mongoose,
      Contentful, Git, Cypress, Jest, GraphQL, Nest
    </p>
  </div>
  <div>
    <h2>EDUCATION</h2>
    <p>
      <strong>Full Stack Software Development Certificate</strong> | Coding Dojo
    </p>
    <ul>
      <li>
        Collaborated with 2 to 3 other developers to create full-stack
        applications
      </li>
      <li>
        Built multiple applications using frameworks and vanilla javascript
      </li>
      <li>Implemented Auth0/OAuth2 in many projects</li>
      <li>Used Git for project control</li>
    </ul>
  </div>
  <div>
    <h2>PROFESSIONAL EXPERIENCE</h2>
    <div>
      <h3>Hinge Health, Boise, ID</h3>
      <p>03/2023 – current</p>
      <p>Full Stack Developer</p>
      <ul>
        <li>
          Project Lead on the deprecation of several pieces of a legacy
          application
        </li>
        <li>
          Main point of contact between design and project management for all
          things Front-End
        </li>
        <li>
          Saved the company over $100,000 by implementing a design token system
          that makes refactoring and rebranding effortless
        </li>
      </ul>
    </div>
    <div>
      <h3>Foundry Interactive, Boise, ID</h3>
      <p>01/2021 – 02/2023</p>
      <p>Front End Web Developer</p>
      <ul>
        <li>Created several reusable and accessible React components</li>
        <li>Developed API endpoints in Ruby on Rails</li>
        <li>
          Wrote end-to-end and unit tests using Cypress, Jest, and Rspec
          frameworks
        </li>
        <li>
          Participated in Agile development in fast-paced CI/CD environments
        </li>
      </ul>
    </div>
    <div>
      <h3>Ventive, Boise, ID</h3>
      <p>06/2020 – 10/2020</p>
      <p>Project Manager (Internship)</p>
      <ul>
        <li>
          Assisted development with QA testing, code reviews, and technical
          investigation
        </li>
        <li>Created tickets to match scope of work determined by clients</li>
        <li>Conducted meetings with clients and coordinated scrum meetings</li>
      </ul>
    </div>
  </div>
  <div>
    <h2>ADDITIONAL EDUCATION</h2>
    <p><strong>University of Idaho</strong></p>
    <p>2013– 2016</p>
    <p>B.A., Creative Writing</p>
  </div>
</Layout>
