---
import Image from "../../components/Image.astro";
import Layout from "../../layouts/Page.astro";
import { PROJECT_LINKS_ARRAY } from "../../consts";
---

<!doctype html>
<Layout
  title="Projects"
  description="A compilation of various projects I've worked on to keep my skills sharp"
>
  <ul class="simple-list">
    {
      PROJECT_LINKS_ARRAY.map((project, index) => {
        return (
          <li class="project-link">
            <h5>
              <a target="_blank" href={project.href}>
                <span class="letter">{index + 1}.</span>
                {project.title}
              </a>
            </h5>
            <Image
              width={666}
              height={510}
              src={project.imgSrc}
              alt=""
              credit="Photo by Isiah Fletcher"
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
<style>
  .project-link {
  }
  .project-link a {
    text-decoration: none;
  }

  .project-link .letter {
    font-size: 2em;
  }
</style>
