---
import Image from "../../components/Image.astro";
import Layout from "../../layouts/Page.astro";
import { PROJECT_LINKS_ARRAY } from "../../consts";
---

<!doctype html>
<Layout
  title="Projects - Isiah Fletcher | Web Development Portfolio"
  description="View web development projects by Isiah Fletcher including Three.js experiments, Shelbz Citrine portfolio, and React applications. Showcasing frontend development skills and creative coding."
>
  <ul class="simple-list">
    {
      PROJECT_LINKS_ARRAY.map((project, index) => {
        const isExternalLink = project.href.startsWith("http");
        return (
          <li class="project-link">
            <h5>
              <a
                target={isExternalLink ? "_blank" : "_self"}
                href={project.href}
              >
                <span class="letter">{index + 1}.</span>
                {project.title}
              </a>
            </h5>
            <Image
              width={666}
              height={510}
              src={project.imgSrc}
              alt=""
              credit="Photo by Isiah Fletcher"
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
<style>
  .project-link {
  }
  .project-link a {
    text-decoration: none;
  }

  .project-link .letter {
    font-size: 2em;
  }
</style>
