---
import Image from "../../components/Image.astro";
import Layout from "../../layouts/Page.astro";
import { PROJECT_LINKS } from "../../consts";
---

<!doctype html>
<Layout
  title="Projects"
  description="A compilation of various projects I've worked on to keep my skills sharp"
>
  <ul class="simple-list">
    <li>
      <h5>
        <a target="_blank" href={PROJECT_LINKS.shelbzWebsite.href}>
          {PROJECT_LINKS.shelbzWebsite.title}
        </a>
      </h5>
      <Image
        width={1020}
        height={510}
        src={"/shelbz-website-project.png"}
        alt=""
      />
    </li>
    <li>
      <h5>
        <a href={PROJECT_LINKS.threeJsJourney.href}>
          {PROJECT_LINKS.threeJsJourney.title}
        </a>
      </h5>
    </li>
  </ul>
</Layout>
